header {
  background-image: url("../images/background.jpg");
  background-size: cover;
}

/* .nav-logo {
    height: 90%;
    width: 90%
} */

/* .nav-item:hover,
.nav-item:focus,
.nav-item:active,
.nav-item:hover.active,
.open > .dropdown-toggle.nav-item {
  background-color: green;
  border-color: green;
} */

/* .btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger:hover.active,
.open > .dropdown-toggle.btn-danger {
  background-color: green;
  border-color: green;
} */

.article-container {
  background-image: url("../images/newsprint-background.jpg");
  background-size: cover;
 
}

.panel-title {
  font-size: 2rem;
}

.btn-purple {
  background-color: purple;
}

#notesBtn {
  margin-left: 10px;
}

textarea {
  resize: none;
  width: 80%;
}

#scrapeBtn {
  padding-top: 15px;
  padding-bottom: 15px;
}

.lead {
  color:black;
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 50px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
  line-height: 51px;
  /* background-color: #337ab7; */
  margin-bottom: 0px;
  text-align: center;
  /* width: 20px; */
  margin-left: 30px;
}
.subtitle{
  color:black;
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
  line-height: 26.4px;
  background-color: white;
  text-align: center;
}

.displayNote div {
  vertical-align: middle;
}

textarea {
  width: 100%;
}



.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}

.col-middle {
  vertical-align: middle;
}

a, u {
  text-decoration: none !important;
  color: white;
}